<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="robots" content="noindex,nofollow" />
    <title>{{ name }} Composer Repository</title>
    <style type="text/css">
    {% include 'styles.css' %}
    </style>
</head>
<body>

    <div id="doc" class="yui-t7">
        <div id="hd">
            <h1>{{ name }} Composer Repository</h1>
            {% if description %}
                <p>{{ description }}</p>
            {% endif %}
        </div>
        <div id="bd">
            <div class="yui-g">
                Adding the repository to <em>composer.json</em>:
                <pre><code>{
    "repositories": [
        {
            "type": "composer",
            "url": "{{ url }}"
        }
    ]
}</code></pre>

                <h3 id="{{ package.highest.name }}">{{ package.highest.name }}</h3>
                {% if package.highest.description %}
                    <p>{{ package.highest.description }}</p>
                {% endif %}
                <table>
                    {% if package.highest.homepage %}
                        <tr>
                            <th>Homepage</th>
                            <td><a href="{{ package.highest.homepage }}">{{ package.highest.homepage }}</a></td>
                        </tr>
                    {% endif %}
                    {% if package.highest.license %}
                        <tr>
                            <th>License</th>
                            <td>{{ package.highest.license|join(', ') }}</td>
                        </tr>
                    {% endif %}
                    {% if package.highest.authors %}
                        <tr>
                            <th>Authors</th>
                            <td>
                                {% for author in package.highest.authors %}
                                    {%- if author.homepage -%}
                                        <a href="{{ author.homepage }}">{{ author.name }}</a>
                                    {%- else -%}
                                        {{ author.name }}
                                    {%- endif -%}
                                    {%- if not loop.last -%}, {% endif -%}
                                {% endfor %}
                            </td>
                        </tr>
                    {% endif %}
                    <tr>
                        <th>Releases</th>
                        <td>
                            {% for version in package.versions %}
                                {%- if version.distType -%}
                                    <a href="{{ version.distUrl }}" title="{{ version.distReference }}">{{ version.prettyVersion }}</a>
                                {%- else -%}
                                    <a href="{{ version.sourceUrl }}" title="{{ version.sourceReference }}">{{ version.prettyVersion }}</a>
                                {%- endif -%}
                                {%- if not loop.last -%}, {% endif -%}
                            {% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <th>Required by</th>
                        <td>
                            {% set package_dependencies = attribute(dependencies, package_name) %}
                            {% if package_dependencies|length %}
                                <ul>
                                    {% for dependency in package_dependencies %}
                                        <li><a href="#{{ dependency }}">{{ dependency }}</a></li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div id="ft">
            <p><small>This Composer Repository is proudly powered by <a href="https://bitbucket.org/bmcmurray/yam">Yam</a> {{ constant('Phase2\\Yam\\Yam::VERSION') }} - Last updated:  {{ "now"|date(constant('\DateTime::ISO8601')) }}</small></p>
        </div>
    </div>

    <script>
    {% include 'jquery-2.0.0.js' %}
    $(function(){
        var packages = $('h3').each(function(){
            var desc = $(this).next('p'),
                info = desc.length ? desc.next('table') : $(this).next('table');
            $(this).data('desc', desc);
            $(this).data('info', info);
        });
        $('input#search').keyup(function(){
            var needle = $(this).val().toLowerCase(), show;
            packages.each(function(){
                show = $(this).text().toLowerCase().indexOf(needle) != -1;
                $(this).toggle(show);
                $(this).data('desc').toggle(show);
                $(this).data('info').toggle(show);
            });
        }).focus();
    });
    </script>
</body>
</html>
