<?xml version="1.0" encoding="utf-8"?>
<project xmlns:dc="http://purl.org/dc/elements/1.1/">
  <title>{{ package.highest.prettyName }}</title>
  <short_name>{{ package.highest.name }}</short_name>

  <dc:creator></dc:creator>

  <api_version>{{ coreVersion }}</api_version>
  <recommended_major>{{ majorVersion }}</recommended_major>
  <supported_majors>{{ majorVersion }}</supported_majors>
  <default_major>{{ majorVersion }}</default_major>

  <project_status>published</project_status>

  <link>{{ package.highest.homepage }}</link>

  <releases>
    {% for version in package.versions %}
    <release>
      <name>{{ version.name }} {{ version.drupalVersion }}</name>
      <version>{{ version.drupalVersion }}</version>
      <tag>{{ version.drupalVersion }}</tag>
    
      <version_major>{{ version.majorVersion }}</version_major>
      {%- if version.minorVersion -%}
      <version_patch>{{ version.minorVersion }}</version_patch>
      {%- endif -%}
      {%- if version.versionExtra -%}
      <version_extra>{{ version.versionExtra }}</version_extra>
      {%- endif -%}
    
      <status>published</status>
    
      <release_link>{{ version.homepage }}</release_link>
      <download_link>{{ version.distUrl }}</download_link>
      <mdhash>{{ version.md5 }}</mdhash>
    
      <files>
        <file>
          <url>{{ version.distUrl }}</url>
          <md5>{{ version.md5 }}</md5>
        </file>
      </files>
      <terms>
        <!-- <term><name>Release type</name><value>Bug fixes</value></term> -->
      </terms>
    </release>
    {% endfor %}
  </releases>
</project>
